<header id="header">
  <div class="header-inner">
    <!-- Header image -->
    <img src="../assets/images/header-bg.jpg" alt="img" />
    <div class="header-overlay">
      <div class="header-content">
        <!-- Start header content slider -->
        <h2 class="header-slide">
          WE PROVIDE
          <span>SOFTWARE DESGIGN & DEVELOPMENT </span>
          <span>ONLINE TECH TRAINING</span>
          <span>JOB SUPPORT ON ANY TECHNOLOGY</span>
          <span>MOBILE APPS DEVELOPMENT</span>
          <span>TESTING SERVICES</span>
          <span>SYSTEM INTEGRATION</span>
          <span>JOB INTERVIEW PREPRATION</span>
        </h2>
        <!-- End header content slider -->
        <!-- Header btn area -->
        <div class="header-btn-area">
          <a class="knowmore-btn" id="knowMore">KNOW MORE</a>
          <a class="download-btn" id="ourServices">OUR SERVICES</a>
        </div>
      </div>
    </div>
  </div>
</header>
