<section id="client">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="client-area">
          <ul class="client-table">
            <li><img src="../assets/images/envato.png" alt="client logo" /></li>
            <li><img src="../assets/images/google.png" alt="client logo" /></li>
            <li><img src="../assets/images/amazon.png" alt="client logo" /></li>
            <li>
              <img src="../assets/images/discovery.png" alt="client logo" />
            </li>
            <li><img src="../assets/images/envato.png" alt="client logo" /></li>
            <li><img src="../assets/images/tuenti.png" alt="client logo" /></li>
            <li><img src="../assets/images/envato.png" alt="client logo" /></li>
            <li><img src="../assets/images/google.png" alt="client logo" /></li>
            <li><img src="../assets/images/amazon.png" alt="client logo" /></li>
            <li>
              <img src="../assets/images/discovery.png" alt="client logo" />
            </li>
            <li><img src="../assets/images/envato.png" alt="client logo" /></li>
            <li><img src="../assets/images/tuenti.png" alt="client logo" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
