<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Start welcome area -->
        <div class="welcome-area">
          <div class="title-area">
            <h2 class="tittle">Welcome to <span>nSquareIT.tech</span></h2>
            <span class="tittle-line"></span>
            <p>Best help is always our guarantee.</p>
          </div>
          <div class=" row welcome-content">
            <div class="col-md-12">
              <ul class="">
                <li class="col-md-3 col-sm-6">
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-users wc-icon"></span>
                    <h4 class="wc-tittle">Creative concept</h4>
                    <p></p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-sellsy wc-icon"></span>
                    <h4 class="wc-tittle">interface design</h4>
                    <p></p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-line-chart wc-icon"></span>
                    <h4 class="wc-tittle">strategy</h4>
                    <p></p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-bus wc-icon"></span>
                    <h4 class="wc-tittle">business solution</h4>
                    <p></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End welcome area -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-area">
          <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="about-left wow fadeInLeft">
                <img src="../assets/images/about-img.jpg" alt="img" />
                <!-- <a class="introduction-btn" href="#">Introduction</a> -->
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="about-right wow fadeInRight">
                <div class="title-area">
                  <h2 class="tittle">About <span>nSquareIT.tech</span> team</h2>
                  <span class="tittle-line"></span>
                  <p>
                    <b>nSquareIT.tech</b> is hub of industries professionals in
                    every domain of IT. We have the best tech export who are
                    always willing to take new challenge.
                  </p>
                  <p>
                    <b>nSquareIT.tech</b> is a pioneer Institute in software
                    training and providing Project Guidance, Technology
                    Workshops and IT Consulting . It started and managed by real
                    time Software employees. Every course that we have in our
                    institute is taught by real time software professionals and
                    have huge experience in the respected field
                  </p>
                  <!-- <div class="about-btn-area">
                      <a href="#" class="button button-default" data-text="KNOW MORE"><span>KNOW MORE</span></a>
                    </div>                     -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
