<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-area">
          <div class="title-area">
            <h2 class="tittle">Services we offer</h2>
            <span class="tittle-line"></span>
            <p>
              nSquareIT.tech is designed to help organizations and individuals
              efficiently and effectively address their business needs and
              challenges across multiple domains.
            </p>
          </div>
          <!-- service content -->
          <div class="service-content">
            <ul class="service-table">
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-map-o service-icon"></span>
                  <h4 class="service-title">
                    Job support on all IT technologies
                  </h4>
                  <p>
                    If you are facing some challenge related to your work in
                    your current job, nSquareIT.tech provide best job support
                    help on all technologies.
                  </p>
                  <button
                    class="button button-default"
                    data-toggle="modal"
                    data-target="#myModal"
                    data-text="Read More"
                  >
                    <span>Read More</span>
                  </button>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-sort-amount-asc service-icon"></span>
                  <h4 class="service-title">
                    Online training on all IT technologies
                  </h4>
                  <p>
                    nSquareIT.tech is one of the world’s best rated professional
                    online trainings institute offering the latest trending
                    software technologies.
                  </p>
                  <!-- <a href="#" class="button button-default" data-text="Read More"><span>Read More</span></a> -->
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-edit service-icon"></span>
                  <h4 class="service-title">Web & Software development</h4>
                  <p>
                    From concept to code, development to deployment,
                    nSquareIT.tech has experience providing custom IT solutions
                    that accelerate workflow.
                  </p>
                  <!-- <a href="#" class="button button-default" data-text="Read More"><span>Read
                        More</span></a> -->
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-rocket service-icon"></span>
                  <h4 class="service-title">MOBILE Apps development</h4>
                  <p>
                    nSquareIT.tech team wil help you to get your business
                    information to the most fascinating mobile application
                    platforms, including iPhone & Android.
                  </p>
                  <!-- <a href="#" class="button button-default" data-text="Read More"><span>Read
                        More</span></a> -->
                </div>
              </li>
              <!-- <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-car service-icon"></span>
                    <h4 class="service-title">Usibility</h4>
                    <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-bank service-icon"></span>
                    <h4 class="service-title">Business solution</h4>
                    <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-user-secret service-icon"></span>
                    <h4 class="service-title">Creative concept</h4>
                    <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="single-service wow slideInUp">
                    <span class="fa fa-support service-icon"></span>
                    <h4 class="service-title">Support</h4>
                    <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
                  </div>
                </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Button to Open the Modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button> -->
<app-modal-popup></app-modal-popup>
