<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="contact-left wow fadeInLeft">
          <h2>Contact with us</h2>
          <address class="single-address">
            <h4>Headquarters:</h4>
            <p>547, Second floor, Saraswati Vihar, Gurgaon</p>
          </address>

          <address class="single-address">
            <h4>Phone</h4>
            <p>Phone Number: +91 - 7838481871</p>
            <p>Fax Number: +91 - 9958552224</p>
          </address>
          <address class="single-address">
            <h4>E-Mail</h4>
            <p>Support: support@nSquareIT.tech</p>
          </address>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="contact-right wow fadeInRight">
          <h2>Send a message</h2>
          <!-- <form action="https://formspree.io/nimishgoel056@gmail.com" method="POST" class="contact-form"> -->
          <form
            method="POST"
            action="http://serverlessforms.com/api/form/d6d70919-7075-5649-8c36-495187099cbf/form-response"
            class="contact-form"
          >
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <textarea class="form-control"></textarea>
            </div>
            <button
              type="submit"
              data-text="SUBMIT"
              class="button button-default"
            >
              <span>SUBMIT</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
