<section id="from-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="from-blog-area">
          <div class="title-area">
            <h2 class="tittle">Our Blogs</h2>
            <span class="tittle-line"></span>
            <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est</p> -->
          </div>
          <!-- From Blog content -->
          <div class="from-blog-content">
            <div class="row">
              <div class="col-md-4">
                <article class="single-from-blog">
                  <figure>
                    <a
                      target="_blank"
                      href="http://onlyforcoder.blogspot.com/2018/05/angular-6-what-are-new-features-of-angular6.html"
                      ><img src="../assets/images/angular6.png" alt="img"
                    /></a>
                  </figure>
                  <div class="blog-title">
                    <h2>
                      <a
                        target="_blank"
                        href="http://onlyforcoder.blogspot.com/2018/05/angular-6-what-are-new-features-of-angular6.html"
                        >New features of Angular 6</a
                      >
                    </h2>
                    <p>
                      Posted by <a class="blog-admin" href="#">Nimish</a> on
                      <span class="blog-date">8th nov, 2017</span>
                    </p>
                  </div>
                  <p>
                    You must be aware that latest version of angular, Angular 6
                    is released on 3rd May 2018 and if you are looking for the
                    new features of angular 6, then this tutorial is for you.
                  </p>
                  <div class="blog-footer">
                    <a
                      target="_blank"
                      href="http://onlyforcoder.blogspot.com/2018/05/angular-6-what-are-new-features-of-angular6.html"
                      ><span class="fa fa-comment"></span>90 Comments</a
                    >
                    <a
                      target="_blank"
                      href="http://onlyforcoder.blogspot.com/2018/05/angular-6-what-are-new-features-of-angular6.html"
                      ><span class="fa fa-thumbs-o-up"></span>350 Likes</a
                    >
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="single-from-blog">
                  <figure>
                    <a target="_blank" href="blog-single.html"
                      ><img src="../assets/images/angular5.png" alt="img"
                    /></a>
                  </figure>
                  <div class="blog-title">
                    <h2>
                      <a target="_blank" href="blog-single.html"
                        >Upgrade to Angular 5.</a
                      >
                    </h2>
                    <p>
                      Posted by <a class="blog-admin" href="#">Nimish</a> on
                      <span class="blog-date">8th may, 2017</span>
                    </p>
                  </div>
                  <p>
                    If you are still working on angular 2, 4 then it is the time
                    to upgrade your application to angular 5. Angular 5(also
                    called Pentagonal-donut) has a lot of new features like
                    better performance, small bundling and a lot.
                  </p>
                  <div class="blog-footer">
                    <a target="_blank" href="#"
                      ><span class="fa fa-comment"></span>8 Comments</a
                    >
                    <a target="_blank" href="#"
                      ><span class="fa fa-thumbs-o-up"></span>35 Likes</a
                    >
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="single-from-blog">
                  <figure>
                    <a target="_blank" href="blog-single.html"
                      ><img src="../assets/images/typescript.png" alt="img"
                    /></a>
                  </figure>
                  <div class="blog-title">
                    <h2>
                      <a target="_blank" href="blog-single.html"
                        >Typescript Introduction</a
                      >
                    </h2>
                    <p>
                      Posted by <a class="blog-admin" href="#">Nimish</a> on
                      <span class="blog-date">8th may, 2017</span>
                    </p>
                  </div>
                  <p>
                    Typescript is another way to write JavaScript code. It lets
                    you write javascript like you are writing c# and Java code.
                    Typescript allows you to use object oriented programing
                    concepts like classes, Interfaces, Namespace and
                    statistically typed.
                  </p>
                  <div class="blog-footer">
                    <a target="_blank" href="#"
                      ><span class="fa fa-comment"></span>45 Comments</a
                    >
                    <a target="_blank" href="#"
                      ><span class="fa fa-thumbs-o-up"></span>470 Likes</a
                    >
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
