<!-- BEGAIN PRELOADER -->
<!-- <div id="preloader">
    <div class="loader">&nbsp;</div>
  </div> -->
<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start header section -->
<app-header></app-header>
<!-- End header section -->
<app-menu></app-menu>
<!-- Start menu section -->

<!-- End menu section -->

<!-- Start about section -->
<app-about></app-about>
<!-- End about section -->

<!-- Start call to action -->
<app-call-to-action></app-call-to-action>
<!-- End call to action -->

<!-- Start Team action -->
<!-- commenting as of now -->
<!-- <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="team-area">
            <div class="title-area">
              <h2 class="tittle">Meet our team</h2>
              <span class="tittle-line"></span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>
            <div class="team-content">
              <ul class="team-grid">
                <li>
                  <div class="team-item team-img-1 wow fadeInUp">
                    <div class="team-info">
                      <p> I must explain to you how all this mistaken idea of denouncing pleasure n</p>
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-pinterest"></span></a>
                      <a href="#"><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>John Richerd</p>
                    <span>CEO & Founder</span>
                  </div>
                </li>
                <li>
                  <div class="team-item team-img-2 wow fadeInUp">
                    <div class="team-info">
                      <p> I must explain to you how all this mistaken idea of denouncing pleasure n</p>
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-pinterest"></span></a>
                      <a href="#"><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>MIKE BATTON</p>
                    <span>Co-founder</span>                  
                  </div>
                </li>
                <li>
                  <div class="team-item team-img-3 wow fadeInUp">
                    <div class="team-info">
                      <p> I must explain to you how all this mistaken idea of denouncing pleasure n</p>
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-pinterest"></span></a>
                      <a href="#"><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>JOHN VICK</p>
                    <span>Developer</span>
                  </div>
                </li>
                  <li>
                  <div class="team-item team-img-4 wow fadeInUp">
                    <div class="team-info">
                      <p> I must explain to you how all this mistaken idea of denouncing pleasure n</p>
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-pinterest"></span></a>
                      <a href="#"><span class="fa fa-rss"></span></a>
                    </div>
                  </div>
                  <div class="team-address">
                    <p>ROB HANSOM</p>
                    <span>Senior designer</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- Start Team action -->

<!-- Start service section -->
<app-service></app-service>
<!-- End service section -->

<!-- Start Portfolio section -->
<!-- <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-area">
            <div class="title-area">
              <h2 class="tittle">Recent portfolio</h2>
              <span class="tittle-line"></span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>
            
            <div class="portfolio-content">
              
              <div class="portfolio-menu">
                <ul>
                  <li class="filter" data-filter="all">All</li>
                  <li class="filter" data-filter=".branding">Branding</li>
                  <li class="filter" data-filter=".design">Design</li>
                  <li class="filter" data-filter=".development">Development</li>
                  <li class="filter" data-filter=".photography">Photography</li>
                </ul>
              </div>
              
              <div id="mixit-container" class="portfolio-container">
                <div class="single-portfolio mix branding">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small1.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big1.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix design">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small2.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big2.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix development">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small3.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big3.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix photography">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small4.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big4.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix photography">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small5.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big5.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix photography">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small6.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big6.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix photography">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small7.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big7.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-portfolio mix photography">
                  <div class="single-item">
                    <img src="../assets/images/portfolio-img-small2.jpg" alt="img">
                    <div class="single-item-content">
                      <div class="portfolio-social-icon">
                        <a class="fancybox" data-fancybox-group="gallery" href="../assets/images/portfolio-img-big2.jpg"><i
                            class="fa fa-eye"></i></a>
                        <a class="link-btn" href="#"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="portfolio-title">
                        <h4>Mobile application</h4>
                        <span>UI Design</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- End Portfolio section -->

<!-- Start counter section -->
<app-counter></app-counter>
<!-- End counter section -->

<!-- Start Pricing Table section -->
<!-- <section id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pricing-table-area">
            <div class="title-area">
              <h2 class="tittle">Pricing table</h2>
              <span class="tittle-line"></span>
              <p>unde omnis iste natus error sit voluptatem accusantium doloremque laudantium aperiam, eaque ipsa quae
                ab illo inventore veritatis et quasi architecto</p>
            </div>
            
            <div class="pricing-table-content">
              <ul class="price-table">
                <li class="wow slideInUp">
                  <div class="single-price">
                    <h4 class="price-header">Basic</h4>
                    <span class="price-amount">$0.00/mo</span>
                    <p>5GB Storage</p>
                    <p>1GB RAM</p>
                    <p>400GB Bandwidth</p>
                    <p>10 Email Address</p>
                    <p>Unlimited access</p>
                    <p>Forum Support</p>
                    <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                  </div>
                </li>
                <li class="wow slideInUp">
                  <div class="single-price standard-price">
                    <h4 class="price-header">Standard</h4>
                    <span class="price-amount">$10.00/mo</span>
                    <p>5GB Storage</p>
                    <p>1GB RAM</p>
                    <p>400GB Bandwidth</p>
                    <p>10 Email Address</p>
                    <p>Unlimited access</p>
                    <p>Forum Support</p>
                    <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                  </div>
                </li>
                <li class="wow slideInUp">
                  <div class="single-price">
                    <h4 class="price-header">Advance</h4>
                    <span class="price-amount">$19.00/mo</span>
                    <p>5GB Storage</p>
                    <p>1GB RAM</p>
                    <p>400GB Bandwidth</p>
                    <p>10 Email Address</p>
                    <p>Unlimited access</p>
                    <p>Forum Support</p>
                    <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                  </div>
                </li>
                <li class="wow slideInUp">
                  <div class="single-price">
                    <h4 class="price-header">Mighty</h4>
                    <span class="price-amount">$39.00/mo</span>
                    <p>5GB Storage</p>
                    <p>1GB RAM</p>
                    <p>400GB Bandwidth</p>
                    <p>10 Email Address</p>
                    <p>Unlimited access</p>
                    <p>Forum Support</p>
                    <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- End Pricing Table section -->

<!-- Start Testimonial section -->
<!-- <section id="testimonial">
    <img src="../assets/images/testimonial-bg.jpg" alt="img">
    <div class="counter-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <div class="testimonial-area">
              <div class="title-area">
                <h2 class="tittle">What people say about us</h2>
                <span class="tittle-line"></span>
              </div>
              <div class="testimonial-conten">
               
                <div class="testimonial-slider">
                  
                  <div class="single-slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoquat.
                      Duis aute irure d olor in reprehenderit</p>
                    <div class="single-testimonial">
                      <img class="testimonial-thumb" src="../assets/images/testimonial-image1.png" alt="img">
                      <p>Jonna Hike</p>
                      <span>CEO, Themeforest</span>
                    </div>
                  </div>
                  
                  <div class="single-slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoquat.
                      Duis aute irure d olor in reprehenderit</p>
                    <div class="single-testimonial">
                      <img class="testimonial-thumb" src="../assets/images/team-member2.png" alt="img">
                      <p>Jonna Hike</p>
                      <span>CEO, Themeforest</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- End Testimonial section -->

<!-- Start from blog section -->
<app-from-blog></app-from-blog>
<!-- End from blog section -->

<app-client></app-client>
<!-- Start Contact section -->
<app-contact></app-contact>
<!-- End Contact section -->
<!-- Start Google Map -->
<app-google-map></app-google-map>
<!-- End Google Map -->

<!-- Start Footer -->
<app-footer></app-footer>
<!-- End Footer -->
